syntax: glob
TSParse/Release/
InstructionManager/InstructionManager/bin/
*.sdf
*.cache
TSParse/TSParse.opensdf
TSParse/Debug/
*.ipch
RegexBuilder/RegexBuilder/bin/Debug/
RegexBuilder/RegexBuilder/obj/x86/Debug/
ErrorDatabase/ErrorDatabase/bin/
ErrorDatabase/ErrorDatabase/obj/
RegexBuilder/RegexBuilder/bin/
RegexBuilder/RegexBuilder/obj/
InstructionManager/InstructionManager/obj/
TSParse/TSParse.sln.docstates.suo
Lightning/Debug/
*.opensdf
Lightning/Release/
Project/Debug/
Project/Driver/Debug/
Project/Release/*
*.Cache
*.suo
Project/LightningAll/Debug/
Project/LightningAll/Release/
*.obj
Project/LightningAll/*.exe
Project/x64/
Project/Driver/LightningErrorTests/Content/*.z
Project/Driver/LightningErrorTests/*.z.meta
Project/Driver/LightningErrorTests/Content/*.z.meta
Project/LightningAll/LightningEm.html
Project/LightningAll/LightningEm.js
Project/LightningAll/LightningEm.html.map
AllToOneCpp/AllToOneCpp/bin
AllToOneCpp/LightningToOneCpp/bin
AllToOneCpp/LightningToOneCpp/obj
AllToOneCpp/AllToOneCpp/obj
Project/LightningAll/lightning.nativecodeanalysis.xml
Project/LightningAll/main.nativecodeanalysis.xml
Project/LightningAll/LightningEmC++11.js
Project/LightningAll/LightningEmC++11.html
ValueUnitTestGeneration/ValueUnitTestGeneration/bin/
ValueUnitTestGeneration/ValueUnitTestGeneration/obj/
Documentation/build/
Debugger/MergeHtmlCssJs/bin/
Debugger/MergeHtmlCssJs/obj/
*.log
*.pdb
*.tlog
*.unsuccessfulbuild
*.lastbuildstate
*.user
Project/LocalPaths.props
Project/LightningAll/Lightning.hpp
Project/LightningAll/Lightning.cpp
Project/Project.VC.*
memory_leak_report.txt
